/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --none: 0rem;
  --xsmall: 0.5rem;
  --small: 1rem;
  --medium: 1.5rem;
  --large: 2.5rem;
  --xlarge: 4rem;
}

.margin-small {
  margin: var(--small);
}

mat-card {
  margin-block: var(--medium);
  padding: var(--large);
  mat-card-content, mat-card-header, mat-card-footer {
    padding: var(--none);
  }
  mat-card-header {
    margin-block-end: var(--medium);
  }
  mat-card-footer {
    margin-block-start: var(--xsmall);
  }
}

.text-right {
  text-align: right;
}
